# Series

In [1]:
import numpy as np
import pandas as pd

In [3]:
mylabel = ['a','b','c']
mylist =[10,20,30]
mydict= {'a':10, 'b':20, 'c':30}
myarr=np.array((10,20,30))

In [4]:
pd.Series(data=mylabel)

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=myarr)

0    10
1    20
2    30
dtype: int32

In [7]:
pd.Series(data=mydict)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(mylist, mylabel)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(data=mylist, mylabel)

SyntaxError: positional argument follows keyword argument (<ipython-input-14-f4ee2ef0d0fb>, line 1)

In [15]:
pd.Series(data=mylist, index=mylabel)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(data=mylabel, index=mylabel)

a    a
b    b
c    c
dtype: object

In [21]:
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [25]:
ser1 = pd.Series(['a','b','c','d'], ['China','Nepal','India','Bhutan'])

In [23]:
ser1

China     a
Nepal     b
India     c
Bhutan    d
dtype: object

In [34]:
ser2 = pd.Series(['x','y','z','w','u'],['Nepal','India','Bhutan','China','Srilanka'])
ser2

Nepal       x
India       y
Bhutan      z
China       w
Srilanka    u
dtype: object

In [35]:
ser2['china']

KeyError: 'china'

In [29]:
ser2['China']

'w'

In [36]:
ser1

China     a
Nepal     b
India     c
Bhutan    d
dtype: object

In [37]:
ser2

Nepal       x
India       y
Bhutan      z
China       w
Srilanka    u
dtype: object

In [38]:
ser1 + ser2

Bhutan       dz
China        aw
India        cy
Nepal        bx
Srilanka    NaN
dtype: object

# DataFrames

In [39]:
from numpy.random import randn

In [46]:
np.random.seed(101)

In [47]:
randn(5,3)

array([[ 2.70684984,  0.62813271,  0.90796945],
       [ 0.50382575,  0.65111795, -0.31931804],
       [-0.84807698,  0.60596535, -2.01816824],
       [ 0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722]])

In [54]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
df

          w         x         y         z
a  0.484752 -0.116773  1.901755  0.238127
b  1.996652 -0.993263  0.196800 -1.136645
c  0.000366  1.025984 -0.156598 -0.031579
d  0.649826  2.154846 -0.610259 -0.755325
e -0.346419  0.147027 -0.479448  0.558769

In [56]:
df['w']

a    0.484752
b    1.996652
c    0.000366
d    0.649826
e   -0.346419
Name: w, dtype: float64

In [58]:
type(df['w'])

pandas.core.series.Series

In [59]:
type(df)

pandas.core.frame.DataFrame

In [60]:
df['new'] = df['w'] + df['y']

In [61]:
df

          w         x         y         z       new
a  0.484752 -0.116773  1.901755  0.238127  2.386506
b  1.996652 -0.993263  0.196800 -1.136645  2.193452
c  0.000366  1.025984 -0.156598 -0.031579 -0.156231
d  0.649826  2.154846 -0.610259 -0.755325  0.039567
e -0.346419  0.147027 -0.479448  0.558769 -0.825867

In [62]:
df.drop('new')

KeyError: "labels ['new'] not contained in axis"

In [63]:
df.drop('new', axis=1)

          w         x         y         z
a  0.484752 -0.116773  1.901755  0.238127
b  1.996652 -0.993263  0.196800 -1.136645
c  0.000366  1.025984 -0.156598 -0.031579
d  0.649826  2.154846 -0.610259 -0.755325
e -0.346419  0.147027 -0.479448  0.558769

In [64]:
df

          w         x         y         z       new
a  0.484752 -0.116773  1.901755  0.238127  2.386506
b  1.996652 -0.993263  0.196800 -1.136645  2.193452
c  0.000366  1.025984 -0.156598 -0.031579 -0.156231
d  0.649826  2.154846 -0.610259 -0.755325  0.039567
e -0.346419  0.147027 -0.479448  0.558769 -0.825867

In [65]:
df.drop('new', axis=0)

KeyError: "labels ['new'] not contained in axis"

In [66]:
df

          w         x         y         z       new
a  0.484752 -0.116773  1.901755  0.238127  2.386506
b  1.996652 -0.993263  0.196800 -1.136645  2.193452
c  0.000366  1.025984 -0.156598 -0.031579 -0.156231
d  0.649826  2.154846 -0.610259 -0.755325  0.039567
e -0.346419  0.147027 -0.479448  0.558769 -0.825867

In [68]:
df.drop('a', axis=0)

          w         x         y         z       new
b  1.996652 -0.993263  0.196800 -1.136645  2.193452
c  0.000366  1.025984 -0.156598 -0.031579 -0.156231
d  0.649826  2.154846 -0.610259 -0.755325  0.039567
e -0.346419  0.147027 -0.479448  0.558769 -0.825867

In [69]:
df

          w         x         y         z       new
a  0.484752 -0.116773  1.901755  0.238127  2.386506
b  1.996652 -0.993263  0.196800 -1.136645  2.193452
c  0.000366  1.025984 -0.156598 -0.031579 -0.156231
d  0.649826  2.154846 -0.610259 -0.755325  0.039567
e -0.346419  0.147027 -0.479448  0.558769 -0.825867

In [70]:
df.drop('a', axis=1)

KeyError: "labels ['a'] not contained in axis"

In [71]:
df

          w         x         y         z       new
a  0.484752 -0.116773  1.901755  0.238127  2.386506
b  1.996652 -0.993263  0.196800 -1.136645  2.193452
c  0.000366  1.025984 -0.156598 -0.031579 -0.156231
d  0.649826  2.154846 -0.610259 -0.755325  0.039567
e -0.346419  0.147027 -0.479448  0.558769 -0.825867

In [72]:
df.drop('new',axis=1, inplace=True)

In [73]:
df

          w         x         y         z
a  0.484752 -0.116773  1.901755  0.238127
b  1.996652 -0.993263  0.196800 -1.136645
c  0.000366  1.025984 -0.156598 -0.031579
d  0.649826  2.154846 -0.610259 -0.755325
e -0.346419  0.147027 -0.479448  0.558769

In [74]:
df['x+y'] = df['x'] + df['y']

In [75]:
df

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [76]:
df.shape

(5, 5)

In [77]:
df['x']

a   -0.116773
b   -0.993263
c    1.025984
d    2.154846
e    0.147027
Name: x, dtype: float64

In [78]:
df.loc['a']

w      0.484752
x     -0.116773
y      1.901755
z      0.238127
x+y    1.784981
Name: a, dtype: float64

In [81]:
df.iloc[1]

w      1.996652
x     -0.993263
y      0.196800
z     -1.136645
x+y   -0.796464
Name: b, dtype: float64

In [82]:
df

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [80]:
df.loc['b','x']

-0.993263499973366

In [83]:
df.loc[['a','b'],['x','y']]

          x         y
a -0.116773  1.901755
b -0.993263  0.196800

In [85]:
df2 = pd.DataFrame(randn(5,4),'p q r s t'.split(),'u v w x'.split())

In [86]:
df2

          u         v         w         x
p -2.141212  0.992573  1.192241 -1.046780
q  1.292765 -1.467514 -0.494095 -0.162535
r  0.485809  0.392489  0.221491 -0.855196
s  1.541990  0.666319 -0.538235 -0.568581
t  1.407338  0.641806 -0.905100 -0.391157

In [87]:
df2.u

p   -2.141212
q    1.292765
r    0.485809
s    1.541990
t    1.407338
Name: u, dtype: float64

In [88]:
df

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [89]:
df>0

       w      x      y      z    x+y
a   True  False   True   True   True
b   True  False   True  False  False
c   True   True  False  False   True
d   True   True  False  False   True
e  False   True  False   True  False

In [91]:
df[df>0]

          w         x         y         z       x+y
a  0.484752       NaN  1.901755  0.238127  1.784981
b  1.996652       NaN  0.196800       NaN       NaN
c  0.000366  1.025984       NaN       NaN  0.869386
d  0.649826  2.154846       NaN       NaN  1.544588
e       NaN  0.147027       NaN  0.558769       NaN

In [95]:
df[df['w']>0]

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588

In [96]:
df

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [97]:
df[df['w']>0]['y']

a    1.901755
b    0.196800
c   -0.156598
d   -0.610259
Name: y, dtype: float64

In [101]:
df[df['x']>0][['x+y','y']]

        x+y         y
c  0.869386 -0.156598
d  1.544588 -0.610259
e -0.332421 -0.479448

In [102]:
type(df['x+y'])

pandas.core.series.Series

In [103]:
df

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [112]:
df[(df['x+y']>1) & (df['w']>1)]

Empty DataFrame
Columns: [w, x, y, z, x+y]
Index: []

In [114]:
df[(df['w']>0) & (df['y'] > 1)]

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981

In [115]:
df

          w         x         y         z       x+y
a  0.484752 -0.116773  1.901755  0.238127  1.784981
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [113]:
df[(df['x']>0) & df['x+y']>0]

          w         x         y         z       x+y
c  0.000366  1.025984 -0.156598 -0.031579  0.869386
d  0.649826  2.154846 -0.610259 -0.755325  1.544588
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [120]:
df[(df['x']>0) & (df['z']>0)]

          w         x         y         z       x+y
e -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [124]:
df[(df['x']>0) & (df['z']>0)]['y']

e   -0.479448
Name: y, dtype: float64

In [125]:
df[(df['x']>0) & (df['z']>0)][['y','x+y']]

          y       x+y
e -0.479448 -0.332421

In [126]:
df2

          u         v         w         x
p -2.141212  0.992573  1.192241 -1.046780
q  1.292765 -1.467514 -0.494095 -0.162535
r  0.485809  0.392489  0.221491 -0.855196
s  1.541990  0.666319 -0.538235 -0.568581
t  1.407338  0.641806 -0.905100 -0.391157

In [127]:
df2.reset_index()

  index         u         v         w         x
0     p -2.141212  0.992573  1.192241 -1.046780
1     q  1.292765 -1.467514 -0.494095 -0.162535
2     r  0.485809  0.392489  0.221491 -0.855196
3     s  1.541990  0.666319 -0.538235 -0.568581
4     t  1.407338  0.641806 -0.905100 -0.391157

In [128]:
df2

          u         v         w         x
p -2.141212  0.992573  1.192241 -1.046780
q  1.292765 -1.467514 -0.494095 -0.162535
r  0.485809  0.392489  0.221491 -0.855196
s  1.541990  0.666319 -0.538235 -0.568581
t  1.407338  0.641806 -0.905100 -0.391157

In [131]:
new_index = 'ab cd ef gh ij'.split()
new_index

['ab', 'cd', 'ef', 'gh', 'ij']

In [133]:
df['ind'] = new_index

In [134]:
df

          w         x         y         z       x+y ind
a  0.484752 -0.116773  1.901755  0.238127  1.784981  ab
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464  cd
c  0.000366  1.025984 -0.156598 -0.031579  0.869386  ef
d  0.649826  2.154846 -0.610259 -0.755325  1.544588  gh
e -0.346419  0.147027 -0.479448  0.558769 -0.332421  ij

In [135]:
df.reset_index()

  index         w         x         y         z       x+y ind
0     a  0.484752 -0.116773  1.901755  0.238127  1.784981  ab
1     b  1.996652 -0.993263  0.196800 -1.136645 -0.796464  cd
2     c  0.000366  1.025984 -0.156598 -0.031579  0.869386  ef
3     d  0.649826  2.154846 -0.610259 -0.755325  1.544588  gh
4     e -0.346419  0.147027 -0.479448  0.558769 -0.332421  ij

In [136]:
df

          w         x         y         z       x+y ind
a  0.484752 -0.116773  1.901755  0.238127  1.784981  ab
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464  cd
c  0.000366  1.025984 -0.156598 -0.031579  0.869386  ef
d  0.649826  2.154846 -0.610259 -0.755325  1.544588  gh
e -0.346419  0.147027 -0.479448  0.558769 -0.332421  ij

In [137]:
df.set_index('ind')

            w         x         y         z       x+y
ind
ab   0.484752 -0.116773  1.901755  0.238127  1.784981
cd   1.996652 -0.993263  0.196800 -1.136645 -0.796464
ef   0.000366  1.025984 -0.156598 -0.031579  0.869386
gh   0.649826  2.154846 -0.610259 -0.755325  1.544588
ij  -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [138]:
df

          w         x         y         z       x+y ind
a  0.484752 -0.116773  1.901755  0.238127  1.784981  ab
b  1.996652 -0.993263  0.196800 -1.136645 -0.796464  cd
c  0.000366  1.025984 -0.156598 -0.031579  0.869386  ef
d  0.649826  2.154846 -0.610259 -0.755325  1.544588  gh
e -0.346419  0.147027 -0.479448  0.558769 -0.332421  ij

In [140]:
df.set_index("ind", inplace=True)

In [141]:
df

            w         x         y         z       x+y
ind
ab   0.484752 -0.116773  1.901755  0.238127  1.784981
cd   1.996652 -0.993263  0.196800 -1.136645 -0.796464
ef   0.000366  1.025984 -0.156598 -0.031579  0.869386
gh   0.649826  2.154846 -0.610259 -0.755325  1.544588
ij  -0.346419  0.147027 -0.479448  0.558769 -0.332421

In [144]:
outside = ['g1','g1','g1','g2','g2','g2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index

[('g1', 1), ('g1', 2), ('g1', 3), ('g2', 1), ('g2', 2), ('g2', 3)]

In [146]:
hier = pd.MultiIndex.from_tuples(hier_index)
hier

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [149]:
df = pd.DataFrame(np.random.randn(6,2), hier,['A','B'])
df

             A         B
g1 1 -0.708954  0.586847
   2 -1.621348  0.677535
   3  0.026105 -1.678284
g2 1  0.333973 -0.532471
   2  2.117727  0.197524
   3  2.302987  0.729024

In [154]:
out = ['g1','g1','g1','g2','g2','g2']
inn = [1,2,3,1,2,3]
hier_indexx = list(zip(out,inn))
hier_indexx

[('g1', 1), ('g1', 2), ('g1', 3), ('g2', 1), ('g2', 2), ('g2', 3)]

In [156]:
hierr = pd.MultiIndex.from_tuples(hier_indexx)
hierr

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [161]:
hier = pd.DataFrame(np.random.randn(6,2),hierr,['a','b'])
hier

             a         b
g1 1  0.780140 -0.383258
   2 -0.409318  0.343539
   3  0.196275 -0.982776
g2 1  2.231555 -0.971393
   2 -1.522333  1.133703
   3  0.528187  0.393461

In [3]:
out = ['g1','g1','g1','g2','g2','g2']
inn = [1,2,3,4,5,6]
ls = list(zip(out,inn))
ls

[('g1', 1), ('g1', 2), ('g1', 3), ('g2', 4), ('g2', 5), ('g2', 6)]

In [10]:
import numpy as np
import pandas as pd

In [6]:

m = pd.MultiIndex.from_tuples(ls)
m

MultiIndex(levels=[['g1', 'g2'], [1, 2, 3, 4, 5, 6]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 3, 4, 5]])

In [12]:
df = pd.DataFrame(np.random.randn(6,2),m,['X','Y'])
df

             X         Y
g1 1  1.119941  0.067316
   2  0.957498  0.790441
   3 -0.529022 -0.447122
g2 4  1.949728 -0.265712
   5 -1.060903 -1.008302
   6 -0.644453  1.719299

In [14]:
df['X']

g1  1    1.119941
    2    0.957498
    3   -0.529022
g2  4    1.949728
    5   -1.060903
    6   -0.644453
Name: X, dtype: float64

In [18]:
df.loc['g1']

          X         Y
1  1.119941  0.067316
2  0.957498  0.790441
3 -0.529022 -0.447122

In [19]:
df

             X         Y
g1 1  1.119941  0.067316
   2  0.957498  0.790441
   3 -0.529022 -0.447122
g2 4  1.949728 -0.265712
   5 -1.060903 -1.008302
   6 -0.644453  1.719299

In [25]:
df.loc['g1'].loc[1]

X    1.119941
Y    0.067316
Name: 1, dtype: float64

In [30]:
df['X'].loc['g1'].loc[1]

1.119940689299308

In [32]:
df.loc['g1'].loc[1]['X']

1.119940689299308

In [22]:
df.index.names

FrozenList([None, None])

In [33]:
df

             X         Y
g1 1  1.119941  0.067316
   2  0.957498  0.790441
   3 -0.529022 -0.447122
g2 4  1.949728 -0.265712
   5 -1.060903 -1.008302
   6 -0.644453  1.719299

In [37]:
df.index.names=('Groups', 'Index')
df

                     X         Y
Groups Index
g1     1      1.119941  0.067316
       2      0.957498  0.790441
       3     -0.529022 -0.447122
g2     4      1.949728 -0.265712
       5     -1.060903 -1.008302
       6     -0.644453  1.719299

In [41]:
df.xs('g1')

              X         Y
Index
1      1.119941  0.067316
2      0.957498  0.790441
3     -0.529022 -0.447122

In [42]:
df

                     X         Y
Groups Index
g1     1      1.119941  0.067316
       2      0.957498  0.790441
       3     -0.529022 -0.447122
g2     4      1.949728 -0.265712
       5     -1.060903 -1.008302
       6     -0.644453  1.719299

In [40]:
df.xs(['g1',1])

X    1.119941
Y    0.067316
Name: (g1, 1), dtype: float64

In [43]:
df

                     X         Y
Groups Index
g1     1      1.119941  0.067316
       2      0.957498  0.790441
       3     -0.529022 -0.447122
g2     4      1.949728 -0.265712
       5     -1.060903 -1.008302
       6     -0.644453  1.719299

In [50]:
df.xs(1,level='Index')

               X         Y
Groups
g1      1.119941  0.067316

In [51]:
df.xs(2,level=1)

               X         Y
Groups
g1      0.957498  0.790441

In [55]:
df.xs(2,level='Index')

               X         Y
Groups
g1      0.957498  0.790441