In [29]:
x=120
y=2.2
z="bijesh"

In [30]:
print(x)

120

In [31]:
print(y)

2.2

In [32]:
print(z)

bijesh

In [33]:
type(z)

str

In [34]:
type(y)

float

In [35]:
list = [1,2,3,4]

In [36]:
print("1")

1

In [37]:
list[0]

1

In [38]:
list[3]

4

In [39]:
list[0:3]

[1, 2, 3]

In [40]:
list[:3]

[1, 2, 3]

In [41]:
list[3:]

[4]

In [42]:
list[:3]

[1, 2, 3]

In [43]:
list[-1]

4

In [44]:
list[-2]

3

In [45]:
print(list)

[1, 2, 3, 4]

In [46]:
ls=[[1,2,3],['ramesh',11,'bijesh', 'ram',3.5],['hari','sita']]

In [47]:
ls

[[1, 2, 3], ['ramesh', 11, 'bijesh', 'ram', 3.5], ['hari', 'sita']]

In [48]:
ls[0][1]

2

In [49]:
ls[1][2]

'bijesh'

In [50]:
l = [['x','y','z'], ls]

In [64]:
l

[['x', 'y', 'z'],
 [[1, 2, 3], ['ramesh', 11, 'bijesh', 'ram', 3.5], ['hari', 'sita']]]

In [52]:
l[1][0][0]

1

In [53]:
l[1][1][4]

3.5

In [54]:
l[1][2][1]

'sita'

In [65]:
l[1][2][0]

'hari'

In [68]:
l[1][1][0:4]

['ramesh', 11, 'bijesh', 'ram']

In [72]:
l[1]

[[1, 2, 3], ['ramesh', 11, 'bijesh', 'ram', 3.5], ['hari', 'sita']]

In [75]:
ll = [['x', 'y', 'z'], [1, 2, 3], [['ramesh', 11, 'bijesh', 'ram', 3.5], ['hari', 'sita']]]

In [78]:
ll[2][0][0]

'ramesh'

In [80]:
ll[2][1][0]

'hari'

In [86]:
ll[2][0][:5]

['ramesh', 11, 'bijesh', 'ram', 3.5]

In [87]:
ll[2][0]

['ramesh', 11, 'bijesh', 'ram', 3.5]

In [85]:
list

[1, 2, 3, 4]

In [103]:
dic = {'name' : 'ramesh', 'age': 22, 'sex': 'male'}

In [104]:
dic

{'name': 'ramesh', 'age': 22, 'sex': 'male'}

In [105]:
dic['age']

22

In [108]:
dic['address'] = 'lalitpur'

In [109]:
dic

{'name': 'ramesh', 'age': 22, 'sex': 'male', 'address': 'lalitpur'}

In [111]:
dic['college'] = 'Nagarjuna College of IT'

In [113]:
dic

{'name': 'ramesh',
 'age': 22,
 'sex': 'male',
 'address': 'lalitpur',
 'college': 'Nagarjuna College of IT'}

In [115]:
for temp in dic:
    print (temp)

name
age
sex
address
college

In [126]:
for k,v in dic.items():
    print(k + ": ", v)

name:  ramesh
age:  22
sex:  male
address:  lalitpur
college:  Nagarjuna College of IT

In [56]:
ls[0][0]

1

In [57]:
ls[]

SyntaxError: invalid syntax (<ipython-input-57-982c75e207ef>, line 1)

In [ ]:
print(list)

In [1]:
a = "ramesh is , a ramesh"

In [6]:
print(a[2])

m

In [7]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
type(-2.3223)

float

In [10]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [11]:
float(2.5)

2.5

In [12]:
float(s1)

NameError: name 's1' is not defined

In [13]:
b = "Hello, World!"
print(b[2:5])

llo

In [14]:
b = "  h  shsdjf hdsjkfhdsj fk    "

In [15]:
b

'  h  shsdjf hdsjkfhdsj fk    '

In [16]:
a = b.strip()

In [17]:
a

'h  shsdjf hdsjkfhdsj fk'

In [18]:
r = "ramesh pradhan"

In [19]:
print(r.replace("r", "a"))

aamesh paadhan

In [20]:
r

'ramesh pradhan'

In [22]:
print(r.split("h"))

['rames', ' prad', 'an']

In [24]:
print('Enter the number')
x= input()
print('Hello ' + x)

Enter the number
ramesh
Hello ramesh

In [29]:
x = 2.6
y=2

In [31]:
x/y

1.3

In [32]:
x//y

1.0

In [33]:
type(x//y)

float

In [34]:
x =2
y = x ^ 3

In [35]:
y

1

In [37]:
a = "10001"
b = "0111"

In [38]:
a^b

TypeError: unsupported operand type(s) for ^: 'str' and 'str'

In [42]:
a = 5 
b = 3
print(a ^ b)
print(b>>a)

6
0

In [50]:
a = 5
a >>= 3
print(a)

0

In [46]:
x = 5

x >>= 3

print(x)

0

In [51]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [52]:
thislist.pop(2)

'cherry'

In [53]:
thislist

['apple', 'banana', 'orange']

In [54]:
del (thislist)

In [55]:
thislist

NameError: name 'thislist' is not defined

In [56]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [58]:
del thislist[0]

In [59]:
thislist

['banana', 'cherry', 'orange']

In [60]:
thislist.clear()

In [61]:
thislist

[]

In [63]:
list = list(('app', 'comm', 'domm'))

In [64]:
list

['app', 'comm', 'domm']

In [65]:
l = list.copy()
l

['app', 'comm', 'domm']

In [71]:
l = ['ramesh', 'bijesh', 'bhuwan', 'pratik']
print("value of l : " +l)
ls = l.copy()
print("value of ls : " +ls)
ll = l.extend('dinesh')
print(ll)
print("value of l after extending : " + l)

TypeError: must be str, not list

In [70]:
l = ['ramesh', 'bijesh', 'bhuwan', 'pratik']
print(l)
ls = l.copy()
print(ls)
ll = l.extend('dinesh')
print(ll)
print(l)

['ramesh', 'bijesh', 'bhuwan', 'pratik']
['ramesh', 'bijesh', 'bhuwan', 'pratik']
None
['ramesh', 'bijesh', 'bhuwan', 'pratik', 'd', 'i', 'n', 'e', 's', 'h']

In [80]:
a = l.copy()
b = ['sita', 'gita', 'rita']
print(a)
c = a.extend(b)
print (c)
print(a)

['ramesh', 'bijesh', 'bhuwan', 'pratik']
None
['ramesh', 'bijesh', 'bhuwan', 'pratik', 'sita', 'gita', 'rita']

In [83]:
a = l.copy()
b = ('sita', 'gita', 'rita')
a.extend(b)
print(a)

['ramesh', 'bijesh', 'bhuwan', 'pratik', 'sita', 'gita', 'rita']

In [84]:
b.extend(a)
print(b)

AttributeError: 'tuple' object has no attribute 'extend'

In [85]:
thistuple = ("apple", "banana", "cherry")
thistuple[1] = "blackcurrant"

# the value is still the same:
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [86]:
for x in thistuple:
    print (x)

apple
banana
cherry

In [87]:
print(len(thistuple))

3

In [93]:
x = thistuple.count('banana')
print(x)

1

In [94]:
t = ['ram','hari','sita','ram','sita','ramesh', 'bijesh', 'ramesh', 'ramesh']

In [100]:
x = t.count('ramesh')
print(x)
print(t.count('ram'))

3
2

In [101]:
t

['ram', 'hari', 'sita', 'ram', 'sita', 'ramesh', 'bijesh', 'ramesh', 'ramesh']

In [106]:
y = t.index('rameesh')
print(y)

ValueError: 'rameesh' is not in list

In [107]:
y = t.index('ramesh')
print(y)

5

In [ ]:
y = t

In [102]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [108]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [109]:
for x in thisset:
    print(x)

banana
apple
cherry

In [110]:
print("apple" in thisset)

True

In [111]:
thisset.add('orange')

In [112]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [118]:
print(thisset)
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}
{'banana', 'apple', 'orange', 'cherry'}

In [119]:
thisset.update(['ramesh','umesh'])

In [120]:
thisset

{'apple', 'banana', 'cherry', 'orange', 'ramesh', 'umesh'}

In [121]:
print(thisset)

{'apple', 'umesh', 'orange', 'ramesh', 'banana', 'cherry'}

In [122]:
thisset.remove('umesh')

In [123]:
thisset

{'apple', 'banana', 'cherry', 'orange', 'ramesh'}

In [125]:
thisset.discard('ramesh')

In [126]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [127]:
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [128]:
thisset.pop()

'apple'

In [129]:
print(thisset)

{'orange', 'banana', 'cherry'}

In [130]:
thisset.pop()

'orange'

In [131]:
thisset

{'banana', 'cherry'}

In [132]:
t

['ram', 'hari', 'sita', 'ram', 'sita', 'ramesh', 'bijesh', 'ramesh', 'ramesh']

In [133]:
thisset.add('ramesh')

In [134]:
thisset

{'banana', 'cherry', 'ramesh'}

In [136]:
x =t
y = thisset
print(x)
print(y)

['ram', 'hari', 'sita', 'ram', 'sita', 'ramesh', 'bijesh', 'ramesh', 'ramesh']
{'ramesh', 'banana', 'cherry'}

In [138]:
z = x.difference(y)
print(z)

AttributeError: 'list' object has no attribute 'difference'

In [141]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'banana', 'cherry'}

In [144]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = y.difference(x)
print(z)

{'google', 'microsoft'}

In [148]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = y.difference_update(x)
print(z)
print(x)
print(y)

None
{'banana', 'apple', 'cherry'}
{'google', 'microsoft'}

In [149]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y) 

print(x)

{'banana', 'cherry'}

In [153]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) 

print(z)
print(x)

{'apple'}
{'banana', 'apple', 'cherry'}

In [151]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [154]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection_update(y) 
print(z)
print(x)

None
{'apple'}

In [156]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

z = x.intersection_update(y, z)
print(z)
print(x)

None
{'c'}

In [157]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y) 

print(z)

True

In [158]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y) 

print(z)

False

In [159]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) 

print(z)

True

In [160]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y) 

print(z)

False

In [161]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) 

print(z)

{'google', 'microsoft', 'cherry', 'banana'}

In [166]:
a=22
b=3
c=4
if a > b and a > c:
    print('a is greatest')

a is greatest

In [167]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) 

print(x)

{'google', 'microsoft', 'cherry', 'banana'}

In [168]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y) 

print(z)

{'google', 'apple', 'cherry', 'banana', 'microsoft'}

In [171]:
x = {"a", "b", "c" , "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z) 

print(result)

{'b', 'f', 'd', 'e', 'a', 'c'}

In [172]:
x = {"a", "b", "c" , "c"}

In [173]:
print (x)

{'b', 'a', 'c'}

In [174]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [175]:
x = thisdict.get("model")

In [176]:
print(x)

Mustang

In [178]:
print(thisdict["model"])

Mustang

In [179]:
for x in thisdict:
  print(x)

brand
model
year

In [185]:
for k,v in thisdict.items():
    print(k + " : ",v)

brand :  Ford
model :  Mustang
year :  1964

In [183]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [186]:
print(len(thisdict))

3

In [187]:
thisdict['color'] = 'blue'

In [188]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

In [189]:
for k,v in thisdict.items():
    print(k,v)

brand Ford
model Mustang
year 1964
color blue

In [190]:
dict = thisdict.copy()
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'blue'}

In [192]:
thisdict.pop("model")

'Mustang'

In [193]:
thisdict

{'brand': 'Ford', 'year': 1964, 'color': 'blue'}

In [194]:
thisdict.popitem()

('color', 'blue')

In [199]:
thisdict

{'key1': range(1, 3), 'key2': range(1, 3), 'key3': range(1, 3)}

In [200]:
import numpy as np

In [221]:
x = ('key1', 'key2', 'key3')
y = 0
z = np.random.randint(3)
print(z)
thisdict = dict.fromkeys(x, z)
print(thisdict)

1
{'key1': 1, 'key2': 1, 'key3': 1}

In [208]:
for x in range(1,3):
    print (2)

2
2

In [228]:
x = ('key1', 'key2', 'key3')
y= np.random.randint(1,3)
thisdict = dict.fromkeys(x,y)

print(thisdict)

{'key1': 1, 'key2': 1, 'key3': 1}

In [229]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x)

print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [233]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")
print (car)
print(x)
y= car.setdefault('year')
print(y)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Mustang
1964

In [231]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [234]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)

white

In [235]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [236]:
car.update({"manufactuerer" : "BMW" })

In [237]:
car

{'brand': 'Ford',
 'model': 'Mustang',
 'year': 1964,
 'color': 'white',
 'manufactuerer': 'BMW'}

In [239]:
v = car.values()

In [240]:
v

dict_values(['Ford', 'Mustang', 1964, 'white', 'BMW'])

In [241]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

car["year"] = 2018

print(x)

dict_values(['Ford', 'Mustang', 2018])

In [244]:
a = 22
b = 3
print("a") if a > b else print("b")

a

In [249]:
x = 45
y = 45
print("x is greater") if x>y else print("Y is greater")

Y is greater

In [250]:
print("A") if a > b else print("=") if a == b else print("B")

A

In [251]:
print(" x is greater") if x>y else print("Equal") if x==y else print ('Y is greater')

Equal

In [252]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [255]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [256]:
i = 0
while i < 6:
  i += 1 
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [257]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "banana":
    break

apple
banana

In [258]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x) 
  if x == "ramesh":
    brea

apple
banana
cherry

In [259]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [260]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [261]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [262]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [263]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [264]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [436]:
def tri_recursion(k):
  if(k>0):
#     print(k)
    result = k+tri_recursion(k-1)
#     print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results

21

In [291]:
x = lambda a : a*5
print(x(5))

25

In [292]:
y = lambda a,b : a*b
print(y(5,4))

20

In [293]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [296]:
def func(n):
    return lambda x : x* n

l = func(2)
print(l(2))

4

In [301]:
l = [1, 5 ,7, 3, 2, 11, 15, 20 ]
a = []
for x in l:
    if x > 5 :
        print (x)
        a.append(x)
print (a)

7
11
15
20
[7, 11, 15, 20]

In [303]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print (x)

1

In [330]:
x = int(input("Enter a number : "))
y = x
while x != 0:
    if y % x == 0:
        print (x)
    x=x-1

Enter a number : 100
100
50
25
20
10
5
4
2
1

In [350]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [351]:
x = set(a.copy())
y = set(b.copy())
z = x.intersection(y)

In [352]:
t =[]
for temp in z:
    t.append(temp)
print (t)

[1, 2, 3, 5, 8, 13]

In [356]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []
for x in a:
    if x in b:
        c.append(x)
print (c)

[1, 1, 2, 3, 5, 8, 13]

In [358]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []
for x in a:
    if x in b:
        if x not in c:
            c.append(x)
print (c)

[1, 2, 3, 5, 8, 13]

In [371]:
# x = str(input("Enter a word to check if its is parlindrom !!! : "))
x = "ramesh"
ls = []
ls.append(x)
print(ls)
ls2 = ls[::-1]
print(ls2)

['ramesh']
['ramesh']
['ramesh']

In [378]:
x = str(input("Enter the string to check palindrome!!! : "))
y = x[::-1] #finds the reverse of x
if( x == y ):
    print ("The string is palindrome!!!")
else:
    print("The string is not palindrome!!!")

Enter the string to check palindrome!!! : mom
The string is palindrome!!!

In [390]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
t = []
for temp in a:
    if temp % 2 == 0:
        t.append(temp)
print(t)

[4, 16, 36, 64, 100]

In [418]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
map = map(lambda n : n % 2 ==0 , a)
ff = filter(lambda n : n % 2 == 0, a)

In [416]:
ff

In [420]:
seq = [1,2,3,4,5]
set(filter(lambda item: item%2 == 0,seq))

{2, 4}

In [422]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
set(filter(lambda n : n % 2 ==0, a))

{4, 16, 36, 64, 100}

In [427]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
list(filter(lambda n : n % 2 ==0, a))

TypeError: 'list' object is not callable

In [440]:
class Iter:
    def __init__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a += 1
        return x

i = Iter()
myiter = iter(i)
print(next(myiter))

TypeError: __init__() should return None, not 'Iter'

In [438]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [442]:
def tri_recursion(k):
  if(k>0):
#     print(k)
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [450]:
class Iter:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a +=1
        return x

i = Iter()
n = iter(i)

print(next(n))
print(next(n))
print(next(n))
print(next(n))
print(next(n))
print(next(n))
print(next(n))
print(next(n))

1
2
3
4
5
6
7
8

In [463]:
def myfunc():
    return lambda a,n: a * n
a = int(input("enter a : "))
n = int(input("enter b : "))

x = myfunc()
print(x(a,n))

enter a : 4
enter b : 5
20

In [460]:
lambda a,n:a*n

In [464]:
import platform

x = platform.system()
print(x)

Windows

In [465]:
import platform

x = dir(platform)
print(x)

['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_default_architecture', '_dist_try_harder', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

In [3]:
l = [2, 8, 1, 9, 11, 12, 3]
for x in l:
    if x > 5:
        l.remove(x)
print(l)

[2, 1, 11, 3]

In [470]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [x for x in a if x % 2 == 0]
print(b)

[2, 8, 34]

In [471]:
import datetime

x = datetime.datetime.now()
print(x)

2018-09-11 16:16:33.613033

In [5]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2018
Friday

In [475]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

In [9]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [483]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])
print(y)

30
{'name': 'John', 'age': 30, 'city': 'New York'}

In [482]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [484]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [485]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [10]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use four indents to make it easier to read the result:
print(json.dumps(x, indent=2))

{
  "name": "John",
  "age": 30,
  "married": true,
  "divorced": false,
  "children": [
    "Ann",
    "Billy"
  ],
  "pets": null,
  "cars": [
    {
      "model": "BMW 230",
      "mpg": 27.5
    },
    {
      "model": "Ford Edge",
      "mpg": 24.1
    }
  ]
}

In [487]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# use . and a space to separate objects, and a space, a = and a space to separate keys from their values:
print(json.dumps(x, indent=4, separators=(". ", " = ")))

{
    "name" = "John".
    "age" = 30.
    "married" = true.
    "divorced" = false.
    "children" = [
        "Ann".
        "Billy"
    ].
    "pets" = null.
    "cars" = [
        {
            "model" = "BMW 230".
            "mpg" = 27.5
        }.
        {
            "model" = "Ford Edge".
            "mpg" = 24.1
        }
    ]
}

In [12]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

# sort the result alphabetically by keys:
print(json.dumps(x, indent=4, sort_keys=True))

{
    "age": 30,
    "cars": [
        {
            "model": "BMW 230",
            "mpg": 27.5
        },
        {
            "model": "Ford Edge",
            "mpg": 24.1
        }
    ],
    "children": [
        "Ann",
        "Billy"
    ],
    "divorced": false,
    "married": true,
    "name": "John",
    "pets": null
}

In [14]:
import camelcase

In [15]:


c = camelcase.CamelCase()

txt = "lorem ipsum dolor sit amet"

print(c.hump(txt))

Lorem Ipsum Dolor Sit Amet

In [17]:
try:
  print(xx)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")

Variable x is not defined

In [19]:
try:
  print(xx)
except:
  print("An exception occurred")

An exception occurred

In [20]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [22]:
try:
  print(xx)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [1]:
try:
  f = open("demofile.txt")
  f.write("Lorum Ipsum")
except:
  print("Something went wrong when writing to the file")
finally:
  f.close()

Something went wrong when writing to the file

NameError: name 'f' is not defined