In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [15]:
df = pd.read_json('db_recommend.json')
df

ValueError: Expected object or value

In [7]:
df.head()

,1,Manish Basnyat,NULL,manishbasnyat182@gmail.com,$2y$10$k6UbClXDSy6oYuxxzpWR6uG5lwPcLk9kv3CNyWE7WXYWMMvYO5r6.,NULL.1,NULL.2,NULL.3,NULL.4,NULL.5,NULL.6,NULL.7,NULL.8,6683,1.1,sxoIOW7q3DhZC14fu2dIWK5ObWxoy4mN2Au49ZYfrFw8ha13uBJFkhI0gC05,2018-11-20 07:31:17,2018-11-20 07:31:17.1
0,2,Seeder2 Sapkota,NaN,seeder2sapkota@gmail.com,$2y$10$YXIRGFplgA4NGsEg5/F2Qu/GDIlUBZ9DVIU0pkg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3453,1,qqkjvgJPiG0kTZfnH6qBTWTIdXXCKPmF6ayQTOjwPtNPx3...,2018-11-20 07:31:18,2018-11-20 07:31:18
1,3,Seeder2 Singh,NaN,seeder3singh@gmail.com,$2y$10$2cDsOcjx5K/pjfVeGrokeeKaf7LekvfXJyopXdE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3540,1,NaN,2018-11-20 07:31:18,2018-11-20 07:31:18