In [1]:
x = map(int, input("Input the array:").split())

Input the array:1 2 3 4 5 5

In [2]:
y = int(input("Enter the integer value:"))

Enter the integer value:3

In [4]:
if y in x:
    print ("It is here")
else:
    print ("It is not here")

It is here

In [8]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(1,5):
    print(i)

1
2
3
4

In [13]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
n = 5
st = ""
for i in range(n,0,-1):
    for j in range(1,n+1):
        st = st + str(j)*i
    st = st + '\n'
print(st)

1111122222333334444455555
11112222333344445555
111222333444555
1122334455
12345

In [26]:
def series(f,s,n):
    return f+((n-1)*(s-f))

In [27]:
first = int(input("Enter first no. :"))
second = int(input("Enter second no. :"))
n = int(input("Enter your desired no. :"))
result = series(first,second,n)
print(result)

Enter first no. :2
Enter second no. :3
Enter your desired no. :5
6

In [16]:
n = 115132219018763992565095597973971522400 #1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 
length = len(str(n))
mcopy = n
op = 0
while n>0:
    rem = n % 10
    op = op + rem ** length
    n = n//10
print(op)
if op == mcopy:
    print('Armstrong')
else:
    print('Not Armstrong')

115132219018763992565095597973971522400
Armstrong

In [5]:
int(371/10)

37

In [7]:
371//10

37

In [10]:
375//4

93

In [11]:
375/4

93.75

In [12]:
int(375/4)

93

In [2]:
T = int(input())
for _ in range(T):
    number = input("How many times would you like to check Armstrong?:")
    n = list(number)
    sum = 0 
    for a in n: sum += int(a)**3
    if(sum == int(number)):
        print("Yes")
    else:
        print("No")

2
How many times would you like to check Armstrong?:370
Yes
How many times would you like to check Armstrong?:245
No

In [8]:
n = int(input("Enter the integer to check for prime"))
for i in range(2,n//2):
    if n % i == 0:
        print('Not prime');break;        
else:
    print('Prime')

Enter the integer to check for prime97
Prime

In [33]:
n = int(input("How many prime digits?: "))
for i in range(2,n+1):
    for j in range(2, i//2+1):
        if i%j==0:
            break
    else:
        print(i, end=',')

How many prime digits?: 100
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [43]:
a =[1,2,3,4,5]
second_last = a[0]+a[-1]
last = a[0]+a[1]
for i in range(0,len(a)-2):
    a[i]=a[i+1]+a[i+2]
a[-2]=second_last
a[-1]=last
print(a)

[5, 7, 9, 6, 3]

In [47]:
a='Ramesh Pradhan! come here. I have special gift for you!'
for _ in a:
    if _ != '!' and _ !='.':
        print(_, end='')

Ramesh Pradhan come here I have special gift for you

In [48]:
def div(p,q):
    assert q!=0, "You cannot divide a number by zero\nPlease try again"
    return p/q
div(2,2)

1.0

In [49]:
div(4,0)

AssertionError: You cannot divide a number by zero
Please try again

In [56]:
square = lambda x : x**2

In [57]:
square(2)

4

In [58]:
square(5)

25

In [61]:
(lambda x: x**3)(2)

8

In [62]:
lambda z=2: print('hello')()

In [69]:
(lambda z=2: print('hello',z))()

hello 2

In [70]:
(lambda z=2: print('hello',z))(10)

hello 10

In [71]:
x=4
seen = set([x])

In [72]:
print(seen)

{4}

In [97]:
seen.add(5)
print(seen)

{4, 5}

In [98]:
for i in range(5):
    print (i)

0
1
2
3
4

In [99]:
class Polygon:
    
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]
        
    def putData(self):
        self.sides = [float(input("Enter the side {} :".format(i+1))) for i in range(self.n)]
        
    def getData(self):
        for i in range(self.n):
            print("Side {} is : {}".format(i+1, self.sides[i]))
            

class Triange:
    
    def __init__(self):
        Polygon.__init__(self, 3)
        
    def area(self):
        a,b,c=self.sides
        print(a*b*c)

In [100]:
t = Triangle()

In [101]:
t.putSides()

Enter the side1 : 4
Enter the side2 : 5
Enter the side3 : 6

In [102]:
t.dispSides()

Side 0 is :4.0
Side 1 is :5.0
Side 2 is :6.0

In [103]:
t.area()

120.0

In [131]:
class Polygon:
    
    def __init__(self, no_of_sides):
        self.n = no_of_sides
        self.sides = [0 for i in range(no_of_sides)]
        
    def putSide(self):
        self.sides = [float(input("Enter the side {} : ".format(i+1))) for i in range(self.n)]
        
    def getSide(self):
        for i in range(self.n):
            print('Side {} : {}'.format(i+1, self.sides[i]))
            
            
class Quadrilateral(Polygon):
    
    def __init__(self):
        Polygon.__init__(self,4)
    
    def getProduct(self):
        a,b,c,d=self.sides
        print(a*b*c*d)

In [132]:
def my_task(obj):
    obj.putSide()
    obj.getSide()
    obj.getProduct()

In [133]:
my_ob = Quadrilateral()

In [134]:
my_task(my_ob)

Enter the side 1 : 1
Enter the side 2 : 2
Enter the side 3 : 3
Enter the side 4 : 4
Side 1 : 1.0
Side 2 : 2.0
Side 3 : 3.0
Side 4 : 4.0
24.0

In [136]:
a = [3, 5, 1, 55, 19, 66]

In [140]:
def sorting(a):
    max = -287891279478129874
    count = 0
    for i in range(len(a)):
        if max < a[i]:
            max = a[i]
            count += 1
    if count == len(a):
        return "already sorted"
    else:
        for i in range(0, len(a)-1):
            for j in range(0, len(a)-i-1):
                if a[j] > a[j+1]:
                    temp = a[j]
                    a[j] = a[j+1]
                    a[j+1] = temp
        return(a)

In [141]:
print(sorting([1,2,3,4,5]))

already sorted

In [142]:
print(sorting([32,12,345]))

[12, 32, 345]

In [144]:
a = [3, 5, 1, 55, 19, 66]

# Multiplication of max 3 digits

In [166]:
def multiplication(a):
    mul = 1
    temp=[]
    for i in range(3):
        max = -234324
        for j in range(0, len(a)):
            if max < a[j]:
                max = a[j]
                index = j
        mul *= max
        a.pop(i)
    return (mul)

In [168]:
print(multiplication([10,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0,0,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0,0,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0,0,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0]))

12850722787967

In [159]:
a = [10,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0,0,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0,0,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0,0,4,3,2,8,15,12,20,323,42,42,5467,23423,547,2314,0]
def multiplication(a):
    mul = 1 
    for j in range(3):
        maximum = 0
        for i in range(0,len(a)):
            if maximum < a[i]:
                maximum = a[i]
                index = i
        mul *= maximum
        a.pop(index)
    print(mul)

In [160]:
multiplication(a)

12850722787967

In [269]:
class Stack:
    
    def __init__(self,size):
        self.items = []
        self.size = size
        
    def push(self,item):
        if len(self.items)<self.size:
            return self.items.append(item)
        else:
            return "stack overflow"
        
    def is_empty(self):
        return self.items == []
    
    
    def pop(self):
        if not self.is_empty():
            return self.items.pop()
        else:
            return "stack underflow"
        
    def stack_items(self):
        return self.items
    
    
    def peek(self):
        if not self.is_empty():
            return self.items[-1]

In [270]:
s = Stack(5)

In [271]:
s.pop()

'stack underflow'

In [272]:
s.push(1)
s.push(2)
s.push(3)
s.push(4)
s.push(5)

In [273]:
s.push(1)

'stack overflow'

In [274]:
s.stack_items()

[1, 2, 3, 4, 5]

In [275]:
s.push(3)

'stack overflow'

In [276]:
s.pop()

5

In [277]:
s.stack_items()

[1, 2, 3, 4]

In [278]:
s.push(8)

In [279]:
s.stack_items()

[1, 2, 3, 4, 8]

In [280]:
s.is_empty()

False

In [281]:
s.peek()

8

In [282]:
s.stack_items()

[1, 2, 3, 4, 8]

# Taking string only once

In [298]:
st='RameshrameshR'
y = ''
for i in range(0, len(st)):
    if st[i] not in y:
        y += st[i]
print(y)

Rameshr

# Taking only repeated words

In [297]:
a='RameshUmesh'
y=''
for i in range(0, len(a)):
    for j in range(i+1, len(a)):
        if a[i]==a[j]:
            if a[i] not in y:
                y += a[i]
print(y)

mesh

In [23]:
a='RameshUmeshmMaheshmmmamaZ'
y=''
checked = ''
for i in range(0,len(a)):
    count = 1
    for j in range(i+1,len(a)):
        if a[i]==a[j]:
            count += 1
    if count == 3 and a[i] not in y:
        y += a[i]
    
    if a[i] not in checked:
        checked += a[i]
print(checked)
print(y)

RameshUMZ
esham

In [25]:
word = "Hello World"

In [26]:
word.count('l')

3

In [171]:
word = '912349441125323088'
y = ''
for i in range(0, len(word)):
    if word[i] not in y:
        y += word[i]
        print(word[i],'=>', word.count(word[i]))

9 => 2
1 => 3
2 => 3
3 => 3
4 => 3
5 => 1
0 => 1
8 => 2

# Reviewing my own code after examination

# Sum of 100 prime no

In [1]:
def sum_100_prime():
    sum = 0
    prime = []
    for i in range(2,101):
        for j in range(2, i//2):
            if i % j == 0:
                break
        else:
            sum += i
            prime.append(i)
    return sum, prime

In [5]:
print(sum_100_prime())

(1064, [2, 3, 4, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97])

In [12]:
n=123455
n=str(n)
y = []
for i in range(len(str(n))):
    y.append(n[i])
print(y)

['1', '2', '3', '4', '5', '5']

### 1231455 = 1*5+2*5+3*4+1 = 28 |||   123145 = 1*5+2*4+3*1 = 16

In [165]:
def slog(n):
    n=str(n)
    y = []
    for i in range(len(str(n))):
        y.append(n[i])
    print(y)
    sum = 0
    while len(y)>1:
        sum += int(y[0]) * int(y[-1])
        y.pop(0)
        y.pop(-1)
    if len(y)==1:
        sum += int(y[0])
        return sum
    else: return sum

In [166]:
print(slog(1231455)) # 5 + 10 + 12 + 1 = 28

['1', '2', '3', '1', '4', '5', '5']
28

In [167]:
print(slog(123455)) # 5 + 10 + 12  = 27

['1', '2', '3', '4', '5', '5']
27

### 1231455 = 1*5+2*5+3*4+1 = 28 => 2*8 => 16 => 1*6 => 6 |||   123145 = 1*5+2*4+3*1 = 16 => 1*6 => 6

In [168]:
def slog(n):
    n=str(n)
    y = []
    for i in range(len(str(n))):
        y.append(n[i])
#     print(y)
    sum = 0
    
    while len(y)>1:
        sum += int(y[0]) * int(y[-1])
        y.pop(0)
        y.pop(-1)
#     print(sum)   
    
    if len(y)==1:
        sum += int(y[0])
        
    if len(str(sum)) > 1:
        return slog(sum)

    if len(str(sum)) == 1:
        return sum

In [169]:
print(slog(1231455)) #1231455 = 1*5+2*5+3*4+1 = 28 => 2*8 => 16 => 1*6 => 6

6

In [170]:
print(slog(123455)) # 5 + 10 + 12  = 27 => 2*7 = 14 => 1*4 = 4

4

In [125]:
len(str(27))

2

# Double Palindrome (i.e. both decimal digit and binary digit)

In [85]:
def palindrome(n):
    x = str(n)
    y = ''
    for i in range(len(x), 0, -1):
        y += x[i-1]
    if x==y:
        return True
    else:
        return False
    
def palindrome_sum(n):
    sum = 0
    for i in range (len(str(n))):
        rem = n % 10
        sum += rem
        n = n // 10
    return sum

In [86]:
num1 = palindrome(3)
num2 = palindrome(bin(3)[2:])

if num1 == num2 == True:
    print ("Double Palindrome")
else:
    print ("Not Double Palindrome")

Double Palindrome

In [76]:
print(palindrome(123321))

True

In [65]:
type(bin(3))

str

In [66]:
bin(3)[2:]

'11'

In [69]:
print(palindrome((bin(3))[2:]))

True

In [77]:
print(palindrome_sum(123))

6

In [81]:
print(num1, '=>', num2)

True => True

Double Palindrome

In [20]:
x = ['1', '2', '3', '4', '5', '5'] # 5 +10 + 12 = 27

In [23]:
x.pop(0)

'1'