In [1]:
import numpy as np

In [3]:
name = 'Ramesh'
age = 22

In [4]:
print("My name is {} and my age is {}".format(name, age))

My name is Ramesh and my age is 22

In [5]:
print("My name is {naam} and my age is {umer}".format(naam=name, umer=age))

My name is Ramesh and my age is 22

In [6]:
name[0]

'R'

In [7]:
name[:3]

'Ram'

In [8]:
name[1:]

'amesh'

In [9]:
t = lambda x : x**2

In [10]:
t(2)

4

In [11]:
seq = [1,2,3,4]

In [12]:
list(map(lambda x: x**2, seq))

[1, 4, 9, 16]

In [13]:
[num**3 for num in seq]

[1, 8, 27, 64]