In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [19]:
from sklearn.preprocessing import Imputer

In [20]:
imputer = Imputer(missing_values='NaN', strategy='median')

In [23]:
x = imputer.fit(df.iloc[:,1:3])

In [24]:
imputer.transform((df.iloc[:,1:3]))

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01, 6.1e+04],
       [3.5e+01, 5.8e+04],
       [3.8e+01, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [16]:
imputer.fit_transform((df.iloc[:,1:3]))

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01, 6.1e+04],
       [3.5e+01, 5.8e+04],
       [3.8e+01, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [25]:
df.iloc[:,1:3] =  imputer.fit_transform((df.iloc[:,1:3]))

In [26]:
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [29]:
df = pd.get_dummies(df,columns=['Country'])

In [30]:
df

    Age   Salary Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0        No               1                0              0
1  27.0  48000.0       Yes               0                0              1
2  30.0  54000.0        No               0                1              0
3  38.0  61000.0        No               0                0              1
4  40.0  61000.0       Yes               0                1              0
5  35.0  58000.0       Yes               1                0              0
6  38.0  52000.0        No               0                0              1
7  48.0  79000.0       Yes               1                0              0
8  50.0  83000.0        No               0                1              0
9  37.0  67000.0       Yes               1                0              0

In [32]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le = LabelEncoder()

In [35]:
df ['Purchased'] = le.fit_transform(df['Purchased'])

In [36]:
df

    Age   Salary  Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0
3  38.0  61000.0          0               0                0              1
4  40.0  61000.0          1               0                1              0
5  35.0  58000.0          1               1                0              0
6  38.0  52000.0          0               0                0              1
7  48.0  79000.0          1               1                0              0
8  50.0  83000.0          0               0                1              0
9  37.0  67000.0          1               1                0              0

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['Purchased']), df['Purchased'], test_size=0.25, random_state=0)

In [41]:
X_test

    Age   Salary  Country_France  Country_Germany  Country_Spain
2  30.0  54000.0               0                1              0
8  50.0  83000.0               0                1              0
4  40.0  61000.0               0                1              0

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
sc = StandardScaler()

In [61]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [62]:
y_test

2    0
8    0
4    1
Name: Purchased, dtype: int64

In [48]:
from sklearn.linear_model import LinearRegression

In [49]:
li = LinearRegression()

In [51]:
li.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [65]:
predict = li.predict(X_test)
predict

array([0.93029494, 0.36827541, 0.41571537])

In [71]:
import matplotlib.pyplot as plt

In [73]:
print(X_train.shape, y_train.shape)

(7, 5) (7,)

In [78]:
pd.DataFrame(data=list(zip(predict,y_test)), columns=['Preicted', 'Actual'])

   Preicted  Actual
0  0.930295       0
1  0.368275       0
2  0.415715       1

In [79]:
li.score(pd.DataFrame(X_test),pd.DataFrame(y_test))

-1.0136959687944458

In [81]:
from sklearn.preprocessing import PolynomialFeatures

In [90]:
poly = PolynomialFeatures(degree=2)

In [91]:
X_train

array([[-0.18509793,  0.44897083,  0.8660254 ,  0.        , -0.8660254 ],
       [-1.80470477, -1.41706417, -1.15470054,  0.        ,  1.15470054],
       [-0.02313724, -1.0242147 , -1.15470054,  0.        ,  1.15470054],
       [ 1.59646961,  1.62751925,  0.8660254 ,  0.        , -0.8660254 ],
       [-0.02313724, -0.14030338, -1.15470054,  0.        ,  1.15470054],
       [ 0.94862687,  0.94003267,  0.8660254 ,  0.        , -0.8660254 ],
       [-0.50901929, -0.43494049,  0.8660254 ,  0.        , -0.8660254 ]])

In [85]:
x_poly = poly.fit_transform(X_train)
x_poly

array([[ 1.00000000e+00, -1.85097925e-01,  4.48970827e-01,
         8.66025404e-01,  0.00000000e+00, -8.66025404e-01,
         3.42612420e-02, -8.31035686e-02, -1.60299506e-01,
        -0.00000000e+00,  1.60299506e-01,  2.01574803e-01,
         3.88820141e-01,  0.00000000e+00, -3.88820141e-01,
         7.50000000e-01,  0.00000000e+00, -7.50000000e-01,
         0.00000000e+00, -0.00000000e+00,  7.50000000e-01],
       [ 1.00000000e+00, -1.80470477e+00, -1.41706417e+00,
        -1.15470054e+00,  0.00000000e+00,  1.15470054e+00,
         3.25695931e+00,  2.55738247e+00,  2.08389357e+00,
        -0.00000000e+00, -2.08389357e+00,  2.00807087e+00,
         1.63628476e+00, -0.00000000e+00, -1.63628476e+00,
         1.33333333e+00, -0.00000000e+00, -1.33333333e+00,
         0.00000000e+00,  0.00000000e+00,  1.33333333e+00],
       [ 1.00000000e+00, -2.31372407e-02, -1.02421470e+00,
        -1.15470054e+00,  0.00000000e+00,  1.15470054e+00,
         5.35331906e-04,  2.36975020e-02,  2.67165843e-02,
        -0.00000000e+00, -2.67165843e-02,  1.04901575e+00,
         1.18266126e+00, -0.00000000e+00, -1.18266126e+00,
         1.33333333e+00, -0.00000000e+00, -1.33333333e+00,
         0.00000000e+00,  0.00000000e+00,  1.33333333e+00],
       [ 1.00000000e+00,  1.59646961e+00,  1.62751925e+00,
         8.66025404e-01,  0.00000000e+00, -8.66025404e-01,
         2.54871520e+00,  2.59828501e+00,  1.38258324e+00,
         0.00000000e+00, -1.38258324e+00,  2.64881890e+00,
         1.40947301e+00,  0.00000000e+00, -1.40947301e+00,
         7.50000000e-01,  0.00000000e+00, -7.50000000e-01,
         0.00000000e+00, -0.00000000e+00,  7.50000000e-01],
       [ 1.00000000e+00, -2.31372407e-02, -1.40303383e-01,
        -1.15470054e+00,  0.00000000e+00,  1.15470054e+00,
         5.35331906e-04,  3.24623315e-03,  2.67165843e-02,
        -0.00000000e+00, -2.67165843e-02,  1.96850394e-02,
         1.62008392e-01, -0.00000000e+00, -1.62008392e-01,
         1.33333333e+00, -0.00000000e+00, -1.33333333e+00,
         0.00000000e+00,  0.00000000e+00,  1.33333333e+00],
       [ 1.00000000e+00,  9.48626867e-01,  9.40032668e-01,
         8.66025404e-01,  0.00000000e+00, -8.66025404e-01,
         8.99892934e-01,  8.91740245e-01,  8.21534966e-01,
         0.00000000e+00, -8.21534966e-01,  8.83661417e-01,
         8.14092171e-01,  0.00000000e+00, -8.14092171e-01,
         7.50000000e-01,  0.00000000e+00, -7.50000000e-01,
         0.00000000e+00, -0.00000000e+00,  7.50000000e-01],
       [ 1.00000000e+00, -5.09019295e-01, -4.34940488e-01,
         8.66025404e-01,  0.00000000e+00, -8.66025404e-01,
         2.59100642e-01,  2.21393101e-01, -4.40823640e-01,
        -0.00000000e+00,  4.40823640e-01,  1.89173228e-01,
        -3.76669512e-01, -0.00000000e+00,  3.76669512e-01,
         7.50000000e-01,  0.00000000e+00, -7.50000000e-01,
         0.00000000e+00, -0.00000000e+00,  7.50000000e-01]])

In [86]:
li.fit(x_poly,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [93]:
li.predict(x_poly)

array([ 1.00000000e+00,  1.00000000e+00, -1.11022302e-16,  1.00000000e+00,
        4.99600361e-16, -5.55111512e-17,  1.00000000e+00])

In [95]:
X_test

array([[-1.22474487, -0.97120103,  0.        ,  0.        ,  0.        ],
       [ 1.22474487,  1.37586813,  0.        ,  0.        ,  0.        ],
       [ 0.        , -0.4046671 ,  0.        ,  0.        ,  0.        ]])

In [97]:
x_test_poly = poly.fit_transform(X_test)

In [98]:
li.predict(x_test_poly)

array([ 1.73433405,  1.67686771, -0.07175898])

In [99]:
li.score(pd.DataFrame(y_test), pd.DataFrame(predict))

ValueError: shapes (3,1) and (21,) not aligned: 1 (dim 1) != 21 (dim 0)

In [46]:
from sklearn.metrics import confusion_matrix