In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df=pd.DataFrame({
    'English': [80,50,70,60],
    'Math': [70,50,80,55],
    'Science': [90,50,85,55]
},
columns=['English','Math','Science'],
index=['Ram','shyam','Sita','Gita']
)

# english=[80,50,70,60]
# math=[70,50,80,55]
# science=[90,50,85,55]

In [ ]:
df

In [ ]:
# df['English'].idxmin()
df['English'].idxmax()

In [ ]:
# df['English'][df['English'].idxmin()]
df['English'][df['English'].idxmax()]

In [ ]:
# df['Math'].idxmin()
df['Math'].idxmax()

In [ ]:
# df['Math'][df['Math'].idxmin()]
df['Math'][df['Math'].idxmax()]

In [ ]:
# df['Science'][df['Science'].idxmin()]
df['Science'][df['Science'].idxmax()]

In [ ]:
# df['Science'].idxmin()
df['Science'].idxmax()

In [ ]:
df

In [ ]:
df.sort_values(by='Science')

In [ ]:
df.mean()

In [ ]:
df.max()

In [ ]:
df.min()

In [10]:
df['English'].idxmin()

'shyam'

In [11]:
df

       English  Math  Science
Ram         80    70       90
shyam       50    50       50
Sita        70    80       85
Gita        60    55       55

In [12]:
df['score']=[50,45,56,38]

In [13]:
df

       English  Math  Science  score
Ram         80    70       90     50
shyam       50    50       50     45
Sita        70    80       85     56
Gita        60    55       55     38

In [14]:
df.mean().score

47.25

In [16]:
df['score'].idxmax()

'Sita'

In [ ]:
[df['score'].idxmax()]