In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
np.nan

nan

In [19]:
s=pd.Series(range(10))

In [20]:
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [7]:
dates=pd.date_range('20170101',periods=6)

In [8]:
dates

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [18]:
df

                   A         B         C         D
2017-01-01  0.351995 -1.907835 -0.337262 -0.340433
2017-01-02 -0.851173 -0.125918  0.228559 -2.015471
2017-01-03 -0.926490 -0.545663 -1.319299 -0.016721
2017-01-04 -0.178885  0.487083  1.589204  1.202499
2017-01-05  0.213688  1.043712 -1.759387 -2.526363
2017-01-06 -0.201440 -0.225557  0.065941  0.951203

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.265384 -0.212363 -0.255374 -0.457548
std    0.529612  1.006013  1.195040  1.526794
min   -0.926490 -1.907835 -1.759387 -2.526363
25%   -0.688739 -0.465637 -1.073790 -1.596712
50%   -0.190162 -0.175738 -0.135661 -0.178577
75%    0.115545  0.333832  0.187904  0.709222
max    0.351995  1.043712  1.589204  1.202499

In [40]:
import numpy as np

In [41]:
import pandas as pd

In [42]:
date=pd.date_range('20130101',periods=6)

In [43]:
date

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [44]:
df2=pd.DataFrame(np.random.randn(6,4),index=date,columns=list('ABCD'))

In [45]:
df2

                   A         B         C         D
2013-01-01  0.163061  0.683688 -0.767060  0.030852
2013-01-02  0.195669  0.463753  0.285639 -0.234854
2013-01-03  0.253853 -0.331813 -1.407884 -1.102311
2013-01-04 -1.151238 -1.043246  1.272753  0.847205
2013-01-05 -0.299284 -0.263538  0.738782 -0.258692
2013-01-06  0.150931  0.152808  1.100083 -1.298331

In [46]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.114501 -0.056391  0.203719 -0.336022
std    0.545592  0.625249  1.075080  0.782825
min   -1.151238 -1.043246 -1.407884 -1.298331
25%   -0.186730 -0.314744 -0.503885 -0.891406
50%    0.156996 -0.055365  0.512211 -0.246773
75%    0.187517  0.386017  1.009758 -0.035574
max    0.253853  0.683688  1.272753  0.847205

In [47]:
df2.dtypes()

TypeError: 'Series' object is not callable

In [48]:
df2.head()

                   A         B         C         D
2013-01-01  0.163061  0.683688 -0.767060  0.030852
2013-01-02  0.195669  0.463753  0.285639 -0.234854
2013-01-03  0.253853 -0.331813 -1.407884 -1.102311
2013-01-04 -1.151238 -1.043246  1.272753  0.847205
2013-01-05 -0.299284 -0.263538  0.738782 -0.258692

In [49]:
df2.head(2)

                   A         B         C         D
2013-01-01  0.163061  0.683688 -0.767060  0.030852
2013-01-02  0.195669  0.463753  0.285639 -0.234854

In [50]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.025665  1.574917 -0.606349 -0.011326
2013-01-06 -0.545718  0.704167  0.117859 -0.836466

In [51]:
df2.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [52]:
df2.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [53]:
df2.values

array([[ 0.16306063,  0.68368806, -0.76705987,  0.03085219],
       [ 0.19566925,  0.46375344,  0.28563939, -0.23485408],
       [ 0.25385316, -0.33181259, -1.4078839 , -1.10231056],
       [-1.15123815, -1.04324563,  1.27275308,  0.84720519],
       [-0.29928409, -0.26353801,  0.73878224, -0.25869167],
       [ 0.15093115,  0.15280786,  1.10008323, -1.29833114]])

In [55]:
df2.sort_values(by='C')

                   A         B         C         D
2013-01-03  0.253853 -0.331813 -1.407884 -1.102311
2013-01-01  0.163061  0.683688 -0.767060  0.030852
2013-01-02  0.195669  0.463753  0.285639 -0.234854
2013-01-05 -0.299284 -0.263538  0.738782 -0.258692
2013-01-06  0.150931  0.152808  1.100083 -1.298331
2013-01-04 -1.151238 -1.043246  1.272753  0.847205