# MULTI LEVEL OF INDEX

In [14]:
import numpy as np
import pandas as pd

In [3]:
outside=['G1','G1','G1','G2','G2','G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside,inside))

In [4]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [6]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [12]:
df= pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [15]:
df #muli level index

             A         B
G1 1 -0.126143 -0.109787
   2 -0.598301  0.180948
   3  0.449522  0.536648
G2 1 -1.293827 -1.558188
   2 -0.207643 -1.106468
   3 -0.066193 -1.501915

# Accessing Rows

In [16]:
df.loc['G1']

          A         B
1 -0.126143 -0.109787
2 -0.598301  0.180948
3  0.449522  0.536648

In [19]:
df.loc['G1'].loc[1]

A   -0.126143
B   -0.109787
Name: 1, dtype: float64

In [20]:
df.loc['G1'].loc[[1,2]]

          A         B
1 -0.126143 -0.109787
2 -0.598301  0.180948

In [23]:
df.loc['G1'].iloc[0]

A   -0.126143
B   -0.109787
Name: 1, dtype: float64

 # Accessing Columns

In [25]:
df['A']

G1  1   -0.126143
    2   -0.598301
    3    0.449522
G2  1   -1.293827
    2   -0.207643
    3   -0.066193
Name: A, dtype: float64

In [26]:
df[['A','B']]

             A         B
G1 1 -0.126143 -0.109787
   2 -0.598301  0.180948
   3  0.449522  0.536648
G2 1 -1.293827 -1.558188
   2 -0.207643 -1.106468
   3 -0.066193 -1.501915

# Finding the index name

In [27]:
df.index.names

FrozenList([None, None])

In [28]:
yf= df.copy()

In [29]:
yf

             A         B
G1 1 -0.126143 -0.109787
   2 -0.598301  0.180948
   3  0.449522  0.536648
G2 1 -1.293827 -1.558188
   2 -0.207643 -1.106468
   3 -0.066193 -1.501915

In [30]:
yf.index.names=['Groups','Number']

In [31]:
yf

                      A         B
Groups Number
G1     1      -0.126143 -0.109787
       2      -0.598301  0.180948
       3       0.449522  0.536648
G2     1      -1.293827 -1.558188
       2      -0.207643 -1.106468
       3      -0.066193 -1.501915

In [32]:
df

             A         B
G1 1 -0.126143 -0.109787
   2 -0.598301  0.180948
   3  0.449522  0.536648
G2 1 -1.293827 -1.558188
   2 -0.207643 -1.106468
   3 -0.066193 -1.501915

# Accessing particular value

In [33]:
df

             A         B
G1 1 -0.126143 -0.109787
   2 -0.598301  0.180948
   3  0.449522  0.536648
G2 1 -1.293827 -1.558188
   2 -0.207643 -1.106468
   3 -0.066193 -1.501915

# Lets grab -1.501915 i.e. last item

## First Way

In [36]:
df['B']

G1  1   -0.109787
    2    0.180948
    3    0.536648
G2  1   -1.558188
    2   -1.106468
    3   -1.501915
Name: B, dtype: float64

In [40]:
df['B'].loc['G2']

1   -1.558188
2   -1.106468
3   -1.501915
Name: B, dtype: float64

In [55]:
df['B'].loc['G2'][3]

-1.50191499576945

## Second Way

In [58]:
df.loc['G2']

          A         B
1 -1.293827 -1.558188
2 -0.207643 -1.106468
3 -0.066193 -1.501915

In [60]:
df.loc['G2'].iloc[2]

A   -0.066193
B   -1.501915
Name: 3, dtype: float64

In [61]:
df.loc['G2'].iloc[2].iloc[1]

-1.50191499576945

## Third

In [63]:
df.loc['G2']

          A         B
1 -1.293827 -1.558188
2 -0.207643 -1.106468
3 -0.066193 -1.501915

In [65]:
df.loc['G2'].loc[3]

A   -0.066193
B   -1.501915
Name: 3, dtype: float64

In [67]:
df.loc['G2'].loc[3]['B']

-1.50191499576945

# Cross Section

In [73]:
yf.xs('G1')

               A         B
Number
1      -0.126143 -0.109787
2      -0.598301  0.180948
3       0.449522  0.536648

In [71]:
yf

                      A         B
Groups Number
G1     1      -0.126143 -0.109787
       2      -0.598301  0.180948
       3       0.449522  0.536648
G2     1      -1.293827 -1.558188
       2      -0.207643 -1.106468
       3      -0.066193 -1.501915

In [72]:
yf.xs(1, level='Number')

               A         B
Groups
G1     -0.126143 -0.109787
G2     -1.293827 -1.558188