In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [30, 40, 50]
arr = np.array(my_data)
d={'a':30, 'b':40, 'c':50}

In [3]:
pd.Series(data = my_data)

0    30
1    40
2    50
dtype: int64

In [4]:
pd.Series(data = my_data, index = labels) ##DEFAULT

a    30
b    40
c    50
dtype: int64

In [5]:
pd.Series(my_data, labels)

a    30
b    40
c    50
dtype: int64

In [6]:
pd.Series(index = labels, data = my_data, dtype=float)

a    30.0
b    40.0
c    50.0
dtype: float64

In [7]:
pd.Series(arr)

0    30
1    40
2    50
dtype: int32

In [8]:
pd.Series(d)

a    30
b    40
c    50
dtype: int64

In [9]:
s1 = pd.Series([1,2,3,4,5],['Ramesh', 'Bijesh','Bhuwan','Pratik','Thakur'])

In [10]:
s2 = pd.Series([1,3,2,4,5],['Ramesh','Pratik','Bijesh','Suzan','Bhuwan'])

In [11]:
s1

Ramesh    1
Bijesh    2
Bhuwan    3
Pratik    4
Thakur    5
dtype: int64

In [12]:
s2

Ramesh    1
Pratik    3
Bijesh    2
Suzan     4
Bhuwan    5
dtype: int64

In [13]:
s1 + s2

Bhuwan    8.0
Bijesh    4.0
Pratik    7.0
Ramesh    2.0
Suzan     NaN
Thakur    NaN
dtype: float64

# Data Frames

In [14]:
import numpy as np
import pandas as pd

In [15]:
from numpy.random import randn

In [16]:
np.random.seed(101) # seed makes sure we get the same random number in different machine

In [17]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [18]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [20]:
type(df['W'])

pandas.core.series.Series

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [23]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [24]:
df['new']

KeyError: 'new'

In [26]:
df['new']=df['W'] + df['Y']

In [27]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [28]:
yf = df

In [29]:
yf

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [30]:
yf.drop('new')

ValueError: labels ['new'] not contained in axis

In [31]:
yf.drop('new',axis=1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [32]:
yf.drop('A', axis = 0)

          W         X         Y         Z       new
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [33]:
yf

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [34]:
yf.drop('new',axis=1, inplace=True)

In [35]:
yf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [36]:
df.drop('C')

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [37]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

# Accessing rows

In [38]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [39]:
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [40]:
df.loc['B','Y']

-0.84807698340363147

In [41]:
df.loc['A','X']

0.62813270878445959

In [42]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

# Conditional Selection

In [43]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [44]:
df[df>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [45]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [46]:
df[df['W']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [47]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [48]:
temp = df[df['Z']>0]

In [49]:
temp

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [64]:
temp['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [67]:
df[df['Z']>0]['X']

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [71]:
df[df['Z']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [72]:
df[df['Z']>0][['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
D -0.758872  0.955057
E  1.978757  0.683509

In [62]:
temp[df['X']>0]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [75]:
temp[temp['X']>0]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
E  0.190794  1.978757  2.605967  0.683509

In [76]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [77]:
df[(df['W']>0) and (df['Y']<0)] #cannot use and because df['W']>0 gives series and we cannot directly compare the series

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [79]:
df[(df['W']>0) & (df['Y']<0)]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [80]:
df[(df['W']>0) & (df['Y']<0)]['W']

B    0.651118
D    0.188695
Name: W, dtype: float64

In [81]:
df[(df['W']>0) & (df['Y']<0)][['W','Z']]

          W         Z
B  0.651118  0.605965
D  0.188695  0.955057

In [82]:
df[(df['W']>0) or (df['Y']<0)] #cannot use or because df['W']>0 gives series and we cannot directly compare the series

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [83]:
df[(df['W']>0) | (df['Y']<0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [84]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [85]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [87]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [160]:
yf

                  W         X         Y         Z naya_name
naya_name
RA         2.706850  0.628133  0.907969  0.503826        RA
ME         0.651118 -0.319318 -0.848077  0.605965        ME
SH        -2.018168  0.740122  0.528813 -0.589001        SH
PR         0.188695 -0.758872 -0.933237  0.955057        PR
AD         0.190794  1.978757  2.605967  0.683509        AD

In [198]:
df['index']='A B C D E'.split()

In [199]:
df.set_index('index', inplace=True)

In [202]:
df

              W         Y         Z
index
A      2.706850  0.907969  0.503826
B      0.651118 -0.848077  0.605965
C     -2.018168  0.528813 -0.589001
D      0.188695 -0.933237  0.955057
E      0.190794  2.605967  0.683509

In [203]:
newind = 'RA ME SH PR AD'.split()

In [204]:
newind

['RA', 'ME', 'SH', 'PR', 'AD']

In [207]:
df['naya_name'] = newind

In [208]:
df

              W         Y         Z naya_name
index
A      2.706850  0.907969  0.503826        RA
B      0.651118 -0.848077  0.605965        ME
C     -2.018168  0.528813 -0.589001        SH
D      0.188695 -0.933237  0.955057        PR
E      0.190794  2.605967  0.683509        AD

In [210]:
yf

              W         Y         Z naya_name
index
A      2.706850  0.907969  0.503826        RA
B      0.651118 -0.848077  0.605965        ME
C     -2.018168  0.528813 -0.589001        SH
D      0.188695 -0.933237  0.955057        PR
E      0.190794  2.605967  0.683509        AD

In [213]:
yf.set_index('naya_name', inplace = True)  #visibale to both df and yf if did see below

In [214]:
yf

                  W         Y         Z
naya_name
RA         2.706850  0.907969  0.503826
ME         0.651118 -0.848077  0.605965
SH        -2.018168  0.528813 -0.589001
PR         0.188695 -0.933237  0.955057
AD         0.190794  2.605967  0.683509

In [216]:
df

                  W         Y         Z
naya_name
RA         2.706850  0.907969  0.503826
ME         0.651118 -0.848077  0.605965
SH        -2.018168  0.528813 -0.589001
PR         0.188695 -0.933237  0.955057
AD         0.190794  2.605967  0.683509